<h1>Horror Mad Lib</h1>
<p> @Model.Name1 and @Model.Name2 were walking down a dark path when suddenly a giant red @Model.Animal appeared dripping with slime and blood! @Model.Exclamation ! @Model.Name2 shouted. @Model.Exclamation ? The @Model.Animal replied. Holy fucking @Model.Exclamation you can talk? @Model.Name1 said. The @Model.Animal picked up a small @Model.Noun and did a @Model.Verb on @Model.Name2 
's head. Everyone died. 
</p>