<h1>UnderWater Mad Lib</h1>
<p>@Model.Name1 and @Model.Name2 took a submarine trip to search for the magical blue @Model.Animal . Once our divers were about 20,000 leagues down the giant @Model.Animal was spotted @Model.Verb on a @Model.Noun . @Model.Exclamation ! @Model.Name2 said as @Model.Name1 drank a @Model.Noun .</p>