<h1>A fantastical adventure</h1>
<p> One day, @Model.Name1 and @Model.Name2 were walking through the woods, when suddenly a giant @Model.Animal appeared. "@Model.Exclamation", @Model.Name1 cried. The two of them @Model.Verb as quickly as possible, and when they were safe, @Model.Name1 and @Model.Name2 gave each other a giant @Model.Noun .</p>